<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="background_image">
    <div class="sign_in_form">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, class: "sign_in_field", autofocus: true, placeholder: "Email" %>
      </div>
      <div class="space">
      </div>
      <div class="field">
        <%= f.password_field :password, class: "sign_in_field", autocomplete: "off", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, class: "remember_me" %>
        <%= f.label :remember_me, class: "remember_me_text" %>
      </div>
      <% end -%>

        <%= f.submit "Log in", class: "login" %>
      <% end %>


    </div>
    <% render "devise/shared/links" %>
  </div>

  </body>
  </html>
